<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/icono.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=M+PLUS+1+Code:wght@800&display=swap"
      rel="stylesheet"
    />
    <title>Testttttt</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <header>
      <div class="cartIcon"><a href="#" id="cartLink">
          <i class="bx bx-cart"></i>
          <p id="cartCount">0</p>
        </a></div>
      <h1>Nico eCommerce</h1>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/realtimeproducts">realTimeProducts</a></li>
        </ul>
      </nav>
    </header>
    <div class="container-main">
      {{{body}}}
    </div>
  </body>
</html>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<script type="text/javascript" src="/js/productDetails.js"></script>
<script type="text/javascript" src="/js/toast.js"></script>